<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"   content="width=device-width, initial-scale=1">
    <title>IQG</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/w3.css" rel="stylesheet">
      
      <script type="text/javascript" src="/javascript/scripts.js"></script>
      <script type="text/javascript" src="/javascript/routes.js"></script>
    
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    
</head>




<body style="background-color:rgb(233,231,218);" id=myCtrl ng-app="myApp" ng-controller="myCtrl">


<!-- Nav Bar -->
<div style="background-color:rgb(118,50,63);" class="w3-bar">
  <label style="font-family:Courier; font-size:18px; color:rgb(233,231,218);" class="w3-left w3-bar-item ">Signed in as <span id="userNameSpan"></span></label>
  <button href="/" id="logoutButton" class="w3-right w3-btn w3-bar-item"><img src='/images/logout-icon.png'></button>
  <button id="myQuestButton" style="font-family:Courier; font-size:18px; color:rgb(233,231,218); text-align:center;" class="w3-right w3-btn w3-bar-item" onclick="myQuestionsSpecialRoute()" ><b>My Questions</b></button>   
</div> 
<!-- End Nav Bar -->

<script>
    $('#userNameSpan').html('<%= name %>');
</script>






<div  class="w3-container"> 


<br>
<br>
<br>

<button onclick="goBack()" id="backButton" style="background-color:rgb(118,50,63); color:rgb(205,216,199); text-align:center;" class=" w3-btn w3-round ">&#8592; Back</button>

<br>
<br>
 <header style="color:rgb(86,86,86);" class="w3-margin-top w3-container w3-xxlarge">Review your Questions</header>
<br>
<br>

  
<h2 class=w3-text-red id=NotFoundError ng-model="NotFoundError" ng-hide="NotFoundFlag"  >{{NotFoundError}}</h2>  
 
  
  

<div class="w3-container">
<form ng-view class="view-animate" id=Viewhideform ng-hide="Viewhideform">
<br>
<br>
  <h3 style="color:rgb(86,86,86);" ng-hide="edit"><b><i>Accept/Decline </i></b></h3>
  
    <input id=id  class="w3-input w3-border" type="text" ng-model="id"   ng-hide="EditID">

  
  <input id=revid  class="w3-input w3-border" type="text" ng-model="revid"   ng-hide="EditrevID">
 
  
  <input id=adderid  class="w3-input w3-border" type="text" ng-model="adderid"   ng-hide="EditadderID">
  <br>
  
  
   <h5  style="display:inline; color:rgb(86,86,86); "  id=qlevel  ng-model="qlevel">{{qlevel}}</h5><h5 style="display:inline; color:rgb(86,86,86);"> Question </h5>    
 	<br>
  <br>
  <br>
  <h5 style="display:inline;" ><b style="color:rgb(118,50,63);"><i>Q:</i> </b></h5><span><h5 style="display:inline;" id=name  ng-model="name"  >{{name}}</h5></span>  
  	<br>
  	<br>
  	<h5 style="display:inline; color:rgb(118,50,63);" >A.</h5> <h5 style="display:inline;" id=op1  ng-model="op1"  >{{op1}} </h5> 
  	<br>            
  	<h5 style="display:inline; color:rgb(118,50,63);" >B.</h5> <h5 style="display:inline;" id=op2  ng-model="op2"  >{{op2}} </h5> 
  	<br>
  	      
  	<h5 style="display:inline; color:rgb(118,50,63);" ng-hide="op3hide" >C.</h5> <h5 style="display:inline;" id=op3  ng-model="op3" ng-hide="op3hide"  >{{op3}} </h5>
  	<br>
    <h5 style="display:inline; color:rgb(118,50,63);" ng-hide="op4hide"   >D.</h5> <h5 style="display:inline;" id=op4  ng-model="op4" ng-hide="op4hide"  >{{op4}} </h5>
    <br>
  <br>
  
   
   <h5 style="display:inline;" ><b style="color:rgb(118,50,63);"><i>Model Answer:</i> </b></h5><h5 style="display:inline;" id=modelanswer  ng-model="modelanswer"  >{{modelanswer}}</h5>
   
 <br><br>
 
   
 <br>
  

 <h5  style="display:inline;"  ><b style="color:rgb(118,50,63);"><i>Category:</i> </b></h5><h5 style="display:inline;" id=category  ng-model="category" >{{category}}</h5>
 
  	<br>
 <br>
 <h5  style="display:inline;"  ><b style="color:rgb(118,50,63);"><i> SubCategory:</i></b> </h5><h5  style="display:inline;"  id=subcategory  ng-model="subcategory">{{subcategory}}</h5> 
  	<br>
  	<br>
   
 
 <h5  style="display:inline;"  id=estime  ng-model="estime" >{{estime}}</h5><h5  style="display:inline;" ><i>  minutes </i></h5>
 
 <br>
 <br>
 <h5  style="display:inline;" ><b style="color:rgb(118,50,63);" ><i>Comment: </i> </b></h5><h5  style="display:inline;" id=comment  ng-model="comment"  >{{comment}}</h5>
 
<br>
 <br>
 <br>
    
<button style="background-color:rgb(118,50,63); color:rgb(205,216,199);" class="w3-btn w3-round" onclick="acceptQuestion()"> Accept</button>   <button style="background-color:rgb(118,50,63); color:rgb(205,216,199);" class="w3-btn w3-round" onclick="showDeclinemsg()" > Decline</button>
</form>
</div>
<br>
<br>
<div id=declinemessage>

<p style="color:rgb(86,86,86);"><b>* Please state your reasons for declining this question</b> </p>
<textarea id=message  class="w3-input w3-border" type="text" ng-model="message" style="width:50%" placeholder="Reasons to decline"></textarea>
  <br>
<button style="background-color:rgb(118,50,63); color:rgb(205,216,199);" class="w3-btn w3-round" onclick="declineQuestion()" > Submit</button>  <button style="background-color:rgb(118,50,63); color:rgb(205,216,199);" class="w3-btn w3-round" onclick="returnHomepage()" > Cancel</button>

</div>
 
</div>







<script>

$('#declinemessage').hide();

function showDeclinemsg()
{
	$('#declinemessage').show();
	$('#Viewhideform').hide();
}





$('#id').html('<%= id %>');
$('#revid').html('<%= email %>');


function goBack()
{
	window.history.back();
}


function declineQuestion()

{
	var id=$('#id').val();
	var rev=$('#revid').val();
	var name =document.getElementById("name").innerHTML;
	var adderemail=$('#adderid').val();
	var revieweremail='<%= email %>';
	var message=$('#message').val();
	
	
	 $.ajax({
		  method: "POST",
		  url: "../api/declineQuestion",
		  contentType: "application/json",
		  data: JSON.stringify({"id":id,"rev":rev,"name":name,"adderemail":adderemail,"revieweremail":revieweremail,"message":message})
       })	 
       .done(function(data)
       {
    	   alert("Question is deleted successfully ");
    	   reviewQuestSpecialRoute();
        });
		
}



function acceptQuestion()

{
	
	var id=$('#id').val();
	var rev=$('#revid').val();
	var name =document.getElementById("name").innerHTML;
	var op1= document.getElementById("op1").innerHTML;
	var op2= document.getElementById("op2").innerHTML;
	var op3= document.getElementById("op3").innerHTML;
	var op4= document.getElementById("op4").innerHTML;
	var modelanswer=document.getElementById("modelanswer").innerHTML;
	var category= document.getElementById("category").innerHTML;
	var subcategory=document.getElementById("subcategory").innerHTML;
	var qlevel= document.getElementById("qlevel").innerHTML;
	var estime= document.getElementById("estime").innerHTML;
	var adderid=$('#adderid').val();
	var reviewerid='<%= email %>';
	var status="accepted";
	var comment=document.getElementById("comment").innerHTML; 
	var repetition=0;
	var adderemail=$('#adderid').val();
	var revieweremail='<%= email %>';
	var currentTime = new Date();
	var month = currentTime.getMonth() + 1;
	var day = currentTime.getDate();
	var year = currentTime.getFullYear();
	var date= day+"/"+month+"/"+year;
	var type="question";
	var url='<%= url %>';

	 $.ajax({
		  method: "POST",
		  url: "../api/acceptQuestion",
		  contentType: "application/json",
		  data: JSON.stringify({"id":id,"rev":rev,"name" : name,"op1": op1,"op2":op2,"op3":op3,"op4":op4,"modelanswer":modelanswer,"category":category,"subcategory":subcategory,"qlevel":qlevel,"estime":estime,"adderid":adderid,"reviewerid":reviewerid,"status":status,"comment":comment,"rep":repetition,"type":type,"adderemail":adderemail,"revieweremail":revieweremail,"date":date,"url":url})
       })	 
       .done(function(data)
       {
    	   alert("Question is accepted ");
    	   reviewQuestSpecialRoute();
        });
		
}



var app = angular.module('myApp', []);

app.controller('myCtrl', function($scope, $http) {
	
	$scope.NotFoundFlag=true;
	$scope.name= '';
	$scope.op1 = '';
	$scope.op2 = '';
	$scope.op3 = '';
	$scope.op4 = '';
	$scope.modelanswer = '';
	$scope.category = '';
	$scope.subcategory = '';
	$scope.qlevel = '';
	$scope.estime = '';
	$scope.comment = '';
	$scope.userEmail = '<%= email %>';
	$scope.userID= '<%= id %>';
	
	$scope.EditrevID=true;
	$scope.EditID = true;	
	$scope.EditadderID = true;
	
	
	
	$http({ url: "/api/findquestions",  method: "GET", params: {"userEmail":$scope.userEmail}}).then(function (response) { $scope.find = response.data;  $scope.view(); });
	
   
	

	
	
	
	$scope.view=function()
	{
		var flagNotFound=0;
		 for(var i=0;i<$scope.find.length;i++)
		    {
		    	
		    	if($scope.find[i]._id == $scope.userID)
		    		{
			    		$scope.name = $scope.find[i].name;
			    	    $scope.op1 = $scope.find[i].op1;
			    	    $scope.op2 = $scope.find[i].op2;
			    	    $scope.op3 = $scope.find[i].op3;
			    	    $scope.op4 = $scope.find[i].op4;
			    	    $scope.modelanswer=$scope.find[i].modelanswer;
			    	    $scope.category=$scope.find[i].category;
			    	    $scope.subcategory=$scope.find[i].subcategory;
			    	    $scope.qlevel=$scope.find[i].qlevel;
			    	    $scope.estime=$scope.find[i].estime;
			    	    $scope.comment=$scope.find[i].comment;
			    	    $scope.id=$scope.find[i]._id;
			    	    $scope.revid=$scope.find[i]._rev;
			    	    $scope.adderid=$scope.find[i].adderid;
			    	    flagNotFound=1;
			    	    
		    		}
		    }	
		
		
		 
		 if($scope.op3 == "")
			   $scope.op3hide=true;
			
		if($scope.op4 =="")
				   $scope.op4hide=true;
		
		  if(flagNotFound==0) 
			 {  
			   
			  $scope.NotFoundFlag=false;
			   $scope.NotFoundError="You are not elligible to see this page";
			   $scope.Viewhideform=true;
			 }
		 
		
		
	};
	
	
	
	
	
	
	
	
});



</script>

</body>
</html>



